<body class="main">

<ul class="nav-bar">
  <li id="nav-bar"><a href="/">Home</a></li>
  <li id="nav-bar"><a class="active" href="/portfolio/about">About</a></li>
  <li id="nav-bar"><a href="/portfolio/projects">Projects</a></li>
  <li id="nav-bar"><a href="/portfolio/contact">Contact</a></li>
</ul>


</body>