<body class="main">

<ul class="nav-bar">
  <li id="nav-bar"><a href="/">Home</a></li>
  <li id="nav-bar"><a class="active" href="/portfolio/about">About</a></li>
  <li id="nav-bar"><a href="/portfolio/projects">Projects</a></li>
  <li id="nav-bar"><a href="/portfolio/contact">Contact</a></li>
</ul>

	<div class="about">
		<br>
		<br>
		<br>
		<br>
		Hello! My name is <b>Andrew Persad</b> and I am a Full Stack Web Developer.<br><br>
		I love getting my hands dirty in both the front and backend of a project.<br><br>
		I specialize in <b><i>Ruby on Rails</i></b> and <b><i>JavaScript</i></b>.<br><br>
		I also know my way around Product Management, which allows me to understand a product's end user, which many devs seem to forget about.
	</div>


</body>