
<body class="main">

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/portfolio/about">About</a></li>
  <li><a href="/portfolio/projects">Projects</a></li>
  <li><a class="active" href="/portfolio/contact">Contact</a></li>
</ul>


<h1>Contact</h1>

</body>