
<body class="main">

<ul class="nav-bar">
  <li id="nav-bar"><a href="/">Home</a></li>
  <li id="nav-bar"><a href="/portfolio/about">About</a></li>
  <li id="nav-bar"><a href="/portfolio/projects">Projects</a></li>
  <li id="nav-bar"><a class="active" href="/portfolio/contact">Contact</a></li>
</ul>


	<div class="about">
		<br>
		<br>
		<br>
		<br>
		You can contact me through my <u><a href="mailto:akpersad@gmail.com?Subject=Web%20Dev%20Inquiry" target="_top">email</a></u><br><br>
		Or on social media:<br>
		<a href="https://www.linkedin.com/in/andrew-persad-aa496432" target="_blank"><img src="http://www.socialtalent.co/wp-content/uploads/2011/08/LinkedIn-Illustrated-Logo-High-res.png" style="height: 50px;width: 50px;"></a> &nbsp; |  &nbsp; <a href="http://www.twitter.com/akpersad" target="_blank"><img src="http://www.smooshies.com/Twitter_Cartoon.png" style="height: 50px;width: 50px;"></a><br><br>
		Check out my code:<br>
		<a href="https://www.github.com/akpersad" target="_blank"><img src="http://ericsteinborn.com/github-for-cats/img/ironcat.png" style="height: 50px;width: 50px;"></a>
	</div>

</body>