<h1>favorite</h1>

<body background="http://i.imgur.com/4yh4Vg1.jpg">

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/portfolio/view">View</a></li>
  <li><a class="active"  href="#/portfolio/favorite">Favorite</a></li>
</ul>