<head>
		<script src="app/assets/javascripts/jquery-2.1.4.min.js"></script>
		<script src="app/assets/javascripts/Chart.js"></script>
</head>

<body class="main">
 
<ul class="nav-bar" style="float:right;list-style-type:none;">
	  <li id="nav-bar"><a class="active" href="/">Home</a></li>
	  <li id="nav-bar"><a href="/portfolio/about">About</a></li>
	  <li id="nav-bar"><a href="/portfolio/projects">Projects</a></li>
	  <li id="nav-bar"><a href="/portfolio/contact">Contact</a></li>
</ul>


	<div class="test_box">
		<p><span id="rotate" style="font-size: xx-large;">this</span></p>
	</div>




	





</body>