
<body class="main">

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/portfolio/about">About</a></li>
  <li><a class="active" href="/portfolio/projects">Projects</a></li>
  <li><a href="/portfolio/contact">Contact</a></li>
</ul>

<div class="pusher">
<h1>favorite</h1>
</div>

</body>