<body background="http://i.imgur.com/4yh4Vg1.jpg">

<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active"  href="/portfolio/view">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <!-- <ul style="float:right;list-style-type:none;"> -->
    <li><a href="#about">About</a></li>
    <li><a href="#login">Login</a></li>
  <!-- </ul> -->
</ul>